body {
	background-image: url("../images/wavebannerrepeat.svg");
	background-repeat: repeat-x;
	background-color: #f2faff;
	background-size: auto 200px;
	font-family: 'Zen Kaku Gothic New', sans-serif;
}

a:link {
	color: #1c75ad;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #1c75ad;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #802104;
	background-color: transparent;
	text-decoration: none;
}

a:active {
	color: #802104;
	background-color: transparent;
	text-decoration: none;
}




#wrapper {
	width: 1010px; 
	margin: 0 auto;
}

.center {
	text-align: center;
}

#pageTitle {
}

#instructions {
	margin-bottom: 20px;
}

#templateInstructions {
	margin-bottom: 5px;
}

#errorMessage {
	color: #802104;
}

#spreadsheetURL {
	width: 250px;
}

#generateGraphButton {
	margin-top: 40px;
}

.button {
  background-color: #1c75ad;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#surfacePlot {
	width: 750px;
	margin: 0 auto;
}

