body {
	background-color: #ffffff;
	font-family: 'Zen Kaku Gothic New', sans-serif;
}

#wrapper {
	width: 960px; 
	margin: 0 auto;
}

.center {
	text-align: center;
}

#pageTitle {
	margin-bottom: 30px;
	color: #802104;
}

#templateInstructions {
	margin-bottom: 5px;
}

#errorMessage {
	color: #802104;
}

#generateGraphButton {
	margin-top: 40px;
}

.button {
  background-color: #5164ad;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#surfacePlot {
	width: 750px;
	margin: 0 auto;
}

